:root {
  --bg-color: #FAFAF9;
  --white: #fff;
  --title: #18181B;
  --text: #52525A;
  --yellow-accent: #F5C044;
  --green-accent: #4CA154;

  --heading: 2.25rem;
  --body: 1.25rem;
  --list-item: 0.875rem;
  --body2: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--bg-color);
  font-family: "Sora", sans-serif;
  padding: 1rem;
}

span {
  padding: 0.5rem;
  background-color: var(--yellow-accent);
  border-radius: 50%;
}

.star {
  margin: 2rem 0 1rem 0;
}

h2 {
  font-size: var(--heading);
  color: var(--title);
}

.main-text {
  font-size: var(--body);
  color: var(--text);
  margin: 1rem 0;
}

ul {
  list-style: none;
  font-size: var(--list-item);
  color: var(--text);
  margin: 2rem 0;
}

ul li {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

ul li::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("resources/Done_ring_round_fill.svg") center / contain no-repeat;
}

.item2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.card {
  background-color: var(--white);
  border-radius: 8px;
  padding: 2rem 2.5rem;
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}

.card .logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 0.5rem;
}

.card h4 {
  font-size: var(--body2);
  color: var(--title);
  margin-bottom: 1rem;
}

.card p {
  font-size: var(--body2);
  color: var(--text);
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

@media (min-width: 1024px) {
  body {
    padding: 2rem;
  }
  .item2 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);

    & .card:nth-child(1) {
      grid-column: 3 / span 2;
    }
     .card:last-child {
      grid-row-start: 2;
      grid-column: 2 / span 2;
    }
  }
}

@media (min-width: 1280px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .item2 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    & .card:nth-child(1) {
      grid-column: 2 / span 2;
    }
     .card:last-child {
      grid-column: 1 / span 2;
    }
  }
}